
@import url('https://fonts.googleapis.com/css2?family=Lemon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.switch {
    width: 100px;
    height: 50px;
    border-radius: 50px;
    padding: 5px;
    display: flex;
    cursor: pointer;
  }
  
  .switch.on {
    background-color: #22cc88;
    justify-content: flex-end;
  }
  
  .switch.off {
    background-color: #dddddd;
    justify-content: flex-start;
  }
  
  .switch div {
    width: 40px;
    height: 40px;
    background-color: #ffffff;
    border-radius: 100px;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.02);
  }

  @media only screen and (max-width: 416px) {
    .switch {
        width: 50px;
        height: 25px;
        border-radius: 25px;
        padding: 2.5px;
        display: flex;
        cursor: pointer;
      }
      
      .switch.on {
        background-color: #22cc88;
        justify-content: flex-end;
      }
      
      .switch.off {
        background-color: #dddddd;
        justify-content: flex-start;
      }
      
      .switch div {
        width: 20px;
        height: 20px;
        background-color: #ffffff;
        border-radius: 50px;
        box-shadow: 0.5px 1px 1.5px rgba(0, 0, 0, 0.02);
      }
  }